asgiref==3.8.1
astroid==2.15.8
attrs==25.1.0
black==25.1.0
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
Django==5.1.6
django-stubs==5.1.3
django-stubs-ext==5.1.3
djangorestframework==3.15.2
drf-spectacular==0.28.0
filelock==3.17.0
flake8==6.1.0
flake8-django==1.4
identify==2.6.7
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
psycopg2-binary==2.9.10
pycodestyle==2.11.1
pyflakes==3.1.0
pytest==8.3.4
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.22.3
sqlparse==0.5.3
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
uritemplate==4.1.1
virtualenv==20.29.1
wrapt==1.17.2
